<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product Id="*" Name="MakroBoard Client" Language="1033" Version="1.0.0.0" Manufacturer="MakroBoard" UpgradeCode="A70BD7E5-E158-4C1E-BA2B-0FF7B8A839BA">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MakroBoard Client is already installed." />
    <MediaTemplate EmbedCab="yes" />


    <SetProperty Id='makroBoardClientExe' Value="[INSTALLFOLDER]makro_board_client.exe" After="CostFinalize"/>

    <Feature Id="ProductFeature" Title="MakroBoard Client" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="AppPathsEntry"/>
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MakroBoardClient" ComponentGuidGenerationSeed="FD069C81-3A2C-45AB-B2BA-5C07A870CDD9">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MakroBoard"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--<Component Id="AppPathsEntry" Guid="DCA59546-1424-4F57-AFF7-13A571C9F1E7" KeyPath="yes" Directory="INSTALLFOLDER">-->
    <Component Id="AppPathsEntry" Guid="00747B5C-5A6E-4F71-BB51-D6E50150172B" KeyPath="yes" Directory="INSTALLFOLDER" Win64="yes">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\makro_board_client.exe">
        <RegistryValue Type="string" Value="[makroBoardClientExe]"/>
      </RegistryKey>
    </Component>
  </Fragment>

  <Fragment>
    <!--<Component Id="ApplicationShortcut" Guid="C5114258-FBEF-4B1C-A87C-62F33BDCEB79" Directory="ApplicationProgramsFolder">-->
    <Component Id="ApplicationShortcut" Guid="B37F0475-709F-46F7-A33D-743D1DEBC91D"  Directory="ApplicationProgramsFolder" Win64="yes">

      <Shortcut Id="makroBoardStartMenuShortcut"
              Name="MakroBoard Client"
              Description="MakroBoard - Client"
              Target="[makroBoardClientExe]"
              WorkingDirectory="APPLICATIONROOTDIRECTORY"/>


      <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\MakroBoard\MakroBoardClient" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

  </Fragment>


  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->

      <ComponentGroupRef Id="MakroBoardComponentGroup"/>
    </ComponentGroup>
  </Fragment>
</Wix>
