<mat-card *ngIf="client != undefined">
  <!--<p fxLayout="row" fxLayoutAlign="center center" *ngIf="title != undefined">{{title}}</p>-->

  <div>{{client.clientIp}}</div>
  <div>{{client.code}}</div>
  <div>{{client.validUntil}}</div>


  <div *ngIf="client.StateNone()">
    <mat-progress-bar mode="determinate" [value]="Progress"></mat-progress-bar>
    <button mat-raised-button color="accent" (click)="confirmClient()">Accent</button>
  </div>
  <div *ngIf="client.StateNone()">
    <mat-progress-bar mode="determinate" [value]="Progress"></mat-progress-bar>
  </div>
  <!--<small>{{client.ValidUntil | date: 'HH:mm:ss'}}</small>-->

</mat-card>
