<mat-card *ngIf="client != undefined">
  <div fxLayout="row wrap" fxLayoutAlign="space-between none">
    <div fxFlex="auto">
      <div>IP: {{client.ClientIp}}</div>
      <div>Code: {{client.Code}}</div>
      <div *ngIf="client.StateNone()">{{client.ValidUntil | date: 'HH:mm:ss'}}</div>
    </div>

    <div fxFlex="shrink">
      <div >
        <button *ngIf="client.StateNone()" mat-raised-button color="accent" (click)="confirmClient()">
          <mat-icon>verified</mat-icon> Confirm Client
        </button>
     
        <button *ngIf="client.StateConfirmed()" mat-raised-button color="accent" (click)="removeClient()">
          <mat-icon>delete</mat-icon> Remove Client
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="client.StateNone()">
    <mat-progress-bar mode="determinate" [value]="Progress"></mat-progress-bar>
  </div>

</mat-card>
