<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">devices</mat-icon>
      Clients
    </ng-template>
    <div *ngFor="let client of clients">
      <app-client [client]="client">
      </app-client>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Hier können Aktionen und Abläufe definiert werden
    </ng-template>
    Hier können Aktionen und Abläufe definiert werden
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Third
    </ng-template>
    Hier können die Aktionen Positioniert werden
  </mat-tab>
</mat-tab-group>

