<mat-tab-group [selectedIndex]="selectedTab"
               (selectedIndexChange)="selectedTabChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">devices</mat-icon>
      Clients
    </ng-template>
    <div *ngFor="let client of clients">
      <app-client [client]="client">
      </app-client>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">reorder</mat-icon>
      Available Controls
    </ng-template>
    <app-available-controls></app-available-controls>
  </mat-tab>
  
</mat-tab-group>

