<h2 mat-dialog-title>Add new Page</h2>
<mat-dialog-content class="mat-typography">

  <div fxLayout="column" fxLayoutAlign="end stretch">
    <div>
      <mat-form-field>
        <mat-label>Icon</mat-label>
        <input matInput [(ngModel)]="icon">
      </mat-form-field>

      <mat-icon aria-hidden="false" aria-label="Plugin" class="ml-1">{{icon}}</mat-icon>
    </div>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="label" cdkFocusInitial>
    </mat-form-field>
  </div>
  <!--<h3>Develop across all platforms</h3>
    <p>
    An app's components typically define many views, arranged hierarchically. Angular provides
    the Router service to help you define navigation paths among views. The router provides
    sophisticated in-browser navigational capabilities.
  </p>-->
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Install</button>
</mat-dialog-actions>
